
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/media"; 
@import "./utils/keyframes";

body {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    background: rgb(173, 157, 166);
}

.header {
    display: flex;
    @include header;
}

section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    @include dealBox;
}