body {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  display: flex;
  justify-content: space-between;
  background-color: #f3e9f1;
}
.header .box_arrow {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-left: 30px;
  width: 32px;
  margin-right: 150px;
}
.header .box_arrow .fas {
  color: rgba(0, 0, 0, 0.74);
}
.header img {
  display: flex;
  justify-content: center;
  height: 150px;
}
.header .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.header .button .accueil {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.header .button .box_panier {
  display: flex;
  border: 3px solid black;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  margin-right: 30px;
}
.header .button .box_panier .panier {
  font-size: 22px;
  color: black;
  margin-right: 15px;
}
.header .button .box_panier .nbTotalCart {
  font-size: 22px;
  font-weight: bolder;
}

section #cart {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
section #cart .full_box {
  border: 2px solid transparent;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.25);
}
section #cart .box_2 {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
section #cart .box_2_image {
  width: 400px;
  margin-right: 10px;
}
section #cart .box_2_image .box_2_image_oak {
  width: 100%;
  height: 100%;
  background-size: contain;
  border-radius: 15px 15px 15px 15px;
}
section #cart .box_2 .box_2_name {
  display: flex;
  align-items: center;
  width: 125px;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 900;
}
section #cart .box_2 .box_2_price {
  display: flex;
  align-items: center;
  width: 80px;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: bolder;
  padding: 20px;
}
section #cart .box_2 .box_2_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
}
section #cart .box_2 .box_2_details .box_2_label_details {
  font-weight: 900;
  margin-bottom: 8px;
  font-size: 18px;
}
section #cart .deleteFromCart {
  display: flex;
  align-items: center;
  justify-content: center;
}
section #cart .deleteFromCart .deleteBtn {
  width: 200px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-size: 15px;
  background-color: ghostwhite;
}
section #cart .updateQuantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 900;
}
section #cart .updateQuantity .box__input {
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 16px;
  border-radius: 20%;
  width: 20%;
  border: 2px solid black;
}
section #cart .updateQuantity input[type=number]::-webkit-inner-spin-button,
section #cart .updateQuantity input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
section #cart .box_2 .box_2_quantity {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-size: 16px;
}
section #cart .box_2 .box_2_varnish {
  display: flex;
  align-items: center;
  width: 140px;
  margin-right: 25px;
  font-weight: 600;
}
section #cart .box_2 .box_2_varnish .box_2_label_varnish {
  font-weight: 900;
  margin-right: 10px;
}
section .confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .confirm .box_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 500px;
  background-color: #f3e9f1;
  margin-top: 150px;
  border-radius: 30px 30px 30px 30px;
}
section .confirm .box_4 .box_4_title {
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 60px;
}
section .confirm .box_4 .box_4_id {
  font-family: "Open Sans";
  font-size: 22px;
  margin-bottom: 40px;
}
section .confirm .box_4 .box_4_label {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
section .confirm .box_4 .box_4_price {
  font-size: 38px;
  font-weight: bolder;
}

.box_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3e9f1;
  border-radius: 30px 30px 30px 30px;
  margin-top: 20px;
  padding: 40px;
}
.box_cart .cart_label {
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 22px;
}
.box_cart .totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 28px;
  margin-left: 20px;
}

.box_validation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_validation .info_customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.box_validation .info_customer input {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.box_validation .info_customer .btn_submit {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.box_validation .info_customer .btn_submit .submit {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.25);
  padding: 15px;
  font-size: 20px;
  background-color: white;
  font-weight: bolder;
  margin-top: 55px;
  cursor: pointer;
  width: 250px;
}

#confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}
#confirm .box_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 500px;
  background-color: #f3e9f1;
  margin-top: 150px;
  border-radius: 30px 30px 30px 30px;
}
#confirm .box_4 .box_4_title {
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 60px;
}
#confirm .box_4 .box_4_id {
  font-family: "Open Sans";
  font-size: 22px;
  margin-bottom: 40px;
}
#confirm .box_4 .box_4_label {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
#confirm .box_4 .box_4_price {
  font-size: 38px;
  font-weight: bolder;
}

.header_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f3e9f1;
}
.header_2 img {
  display: flex;
  justify-content: center;
  height: 150px;
}

/*# sourceMappingURL=cart.css.map */
